{% extends "blog/base.html" %}

{% load blog_tags %}

{% block title %}Наш блог{% endblock %}

{% block content %}
  <h1>Наш блог</h1>
  {% if tag %}
    <h2>Посты тэггированные "{{ tag.name }}"</h2>
  {% endif %}
  {% for post in posts %}
    <h2>
        <a href="{{ post.get_absolute_url }}">
            {{ post.title }}
        </a>
    </h2>
    <p class="tags">
        Ключевые слова:
<!--        {{ post.tags.all|join:", " }}</p>-->
        {% for tag in post.tags.all %}
          <a href="{% url 'blog:post_list_by_tag' tag.slug %}">
            {{ tag.name }}
          </a>
          {% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    <p class="date">
        Опубликовано {{ post.publish }} --- {{ post.author.first_name }} {{ post.author.last_name }}
    </p>
    {{ post.body|markdown|truncatewords:30 }}
  {% endfor %}
  {% include "pagination.html" with page=posts %}
{% endblock %}