{% extends "blog/base.html" %}

{% block title %}Наш блог{% endblock %}

{% block content %}
  <h1>Наш блог</h1>
  {% for post in posts %}
    <h2>
        <a href="{{ post.get_absolute_url }}">
            {{ post.title }}
        </a>
    </h2>
    <p class="date">
        Опубликовано {{ post.publish }} --- {{ post.author.first_name }} {{ post.author.last_name }}
    </p>
    {{ post.body|truncatewords:30|linebreaks }}
  {% endfor %}
  {% include "pagination.html" with page=page_obj %}
{% endblock %}